bootstrap_url: {{ bootstrap_url }}
cluster_name: 'dcos-ansible'
exhibitor_storage_backend: static
ip_detect_filename: /genconf/ip-detect
master_list:
{% for host in groups['mesos-master'] %}
- {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}
{% endfor %}

resolvers:
- 8.8.4.4
- 8.8.8.8