bootstrap_url: http://192.168.0.10:80
cluster_name: 'dcos-ansible'
exhibitor_storage_backend: static
ip_detect_filename: /genconf/ip-detect
master_list:
- 192.168.0.11
- 192.168.0.12
- 192.168.0.13

resolvers:
- 8.8.4.4
- 8.8.8.8