bootstrap_url: http://192.168.0.10:80
cluster_name: 'dcos-ansible'
exhibitor_storage_backend: static
ip_detect_filename: /genconf/ip-detect
master_list:
- 172.16.1.11
- 172.16.1.12
- 172.16.1.13

resolvers:
- 8.8.4.4
- 8.8.8.8